@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent; /*  Optional: just make scrollbar invisible */
}
:root {
  /*  --gradient: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);*/
    --gradient: linear-gradient(315deg, #bf033b 25%, #ffc719 43%);
    --yellow:  #ffc719;
    --red: #bf033b;
    --font-family: 'Open Sans', sans-serif;
    --navyellow: #ffc719;  

    --background-color: #111111;
    --background-color-alt: #222222;
    --trim-color: #333333;
    --text-color: #eeeeee;
}
body {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    min-width: 350px;
    height: auto;
    color: var(--text-color);
    font-family: var(--font-family);
    background: var(--background-color);
    align-items: center;
    overflow-x: hidden;
    transition: background 0.2s linear;
    justify-content: center;
    text-align: center;
}


.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(var(--red)), to(var(--yellow)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.post{
	box-shadow:rgba(100, 78, 10, .45) 2px 4px 8px;
	 border: 1px solid var(--yellow);
}
.foot-fire{
	border-top: 1px solid var(--navyellow);
	background: var(--background-color)
}
.no-u{
	text-decoration: none;
	
}
.nav-fire{
	border-bottom: 1px solid var(--navyellow);
	background: var(--background-color)
}
.tb{
	background: var(--red)
}
.yellow{
	color: var(--yellow);
}
.red{
	color: var(--red);
}
.border-red{
	border-style: 2px solid var(--red);
}
.blk{
	color: #333333;
}

.fh{
	height : 45px;
	
}